@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin '@midudev/tailwind-animations';

@theme {
    --font-aldrich: "Aldrich", sans-serif;
    --font-microma: "Michroma", sans-serif;
    --font-oxanium: "Oxanium", sans-serif;
    --font-audiowide: "Audiowide", sans-serif;
    --font-exo: "Exo 2", sans-serif;
}

html {
  scroll-behavior: smooth;
}

